services:
  web:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
      - FLASK_APP=app.py
      - FLASK_DEBUG=1
      - SECRET_KEY=secret
      - ASYNC_MODE=eventlet
      - EVENTLET_HUB=poll