<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style>
            html {height: 100%;}
        </style>

        <!-- temp cdn for development -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script>
            module.exports = {
                content: ["./templates/**/*.{html,js}"],
                theme: {
                  colors: {
                    'primary': '#111827',
                    'secondary': '#1f2937',
                    'tertiary': '#b91c1c',
                    'info': '#f3f4f6',
                  },
                  extend: {
                    transitionProperty: {
                      'width': 'width'
                    },
                  },
                },
                plugins: [],
              }
        </script>

        <!-- socket.io -->
        <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
        
        <title>Actichat</title>
    </head>
    <body class="bg-primary">
        
    {% block content %}
        
    {% endblock content %}

    </body>
</html>