<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style>
            html {height: 100%;}
        </style>

        <!-- temp cdn for development -->
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <!-- socket.io -->
        <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
        
        <title>Actichat</title>
    </head>
    <body class="bg-gray-200">
        
    {% block content %}
        
    {% endblock content %}

    </body>
</html>