{% extends 'base.html' %}

{% block content %}

{% include 'partials/navbar.html' %}

<main class="ml-16 h-screen 
    flex flex-col">
    <div class="
        h-max-content 
        flex flex-col gap-0 flex-1
        text-info
        overflow-y-auto" 
        id="chat"
        data-name="{{ name }}"
        data-code="{{ code }}">
    
        {% include 'partials/chat_top.html' %}
    </div>
    
    <div class="flex justify-center gap-10 h-15 
        bottom-10 left-1/2 
        bg-gray-700
        py-3 mt-2">
        <input class="p-3 text-xl text-info rounded w-96 bg-gray-600" id="message" type="text">
        <button class="bg-gray-500 text-gray-100 font-light text-2xl
            transition-all hover:bg-gray-600 hover:shadow-lg
            rounded shadow 
            w-min p-3 
            cursor-pointer
            self-center" id="send">Send</button>
    </div>
</main>

<script src="{{ url_for('static', filename='messages.js') }}"></script>

{% endblock content %}
