{% extends 'base.html' %}

{% block content %}

{% include 'partials/navbar.html' %}

<main class="ml-16 overflow-y-hidden">
    
    <div class="
        flex flex-wrap items-center justify-around content-evenly gap-20
        h-screen
        text-info">
        <div class="flex flex-col items-center">
            <h1 class="font-bold text-9xl text-tertiary">Actichat</h1>
            <h5 class="font-light text-6xl">Quick, Easy, Simple</h5>
        </div>
    
        <div class="flex flex-col items-center">
            <h5 class="font-bold text-5xl text-tertiary">About</h5>
            <p class="font-light text-xl max-w-3xl p-3 mx-6">
                Actichat is a messaging platform built for those who desire fast and simple communication at anytime. 
                The application optimizes messaging by running in any browser or web environment, simplifying the process. 
                In order to use the platform, the user shares an invite link or code with the appropriate audience. 
                The recipient joins the chat using the information and is then able to send and receive messages through an interactive user interface. 
            </p>
        </div>
    
        <div class="flex justify-evenly flex-wrap w-full gap-10">
            <div class="flex flex-col items-center gap-2 bg-secondary p-10 px-16 rounded-xl shadow-2xl">
                <h3 class="font-semibold text-6xl text-tertiary">Join a chat</h3>
                <p class="font-light text-xl">You can join chats with invite codes or links by friends</p>
                <a class="bg-gray-700 text-gray-100 font-extralight text-3xl text-tertiary
                transition-all hover:bg-gray-600 hover:shadow-lg
                rounded shadow 
                w-min p-3 
                cursor-pointer
                self-center" href="{{ url_for('join') }}">Join</a>
            </div>
        
            <div class="flex flex-col items-center gap-2 bg-secondary p-10 px-16 rounded-xl shadow-2xl">
                <h3 class="font-semibold text-6xl text-tertiary">Create a chat</h3>
                <p class="font-light text-xl">Create a new empty for you and your friends</p>
                <a class="bg-gray-700 text-gray-100 font-extralight text-3xl 
                transition-all hover:bg-gray-600 hover:shadow-lg
                rounded shadow 
                w-min p-3 
                cursor-pointer
                self-center" href="{{ url_for('create') }}">Create</a>
            </div>
        </div>
    </div>

</main>


{% endblock content %}
