{% extends 'base.html' %}

{% block content %}

<div class="
    flex flex-col items-center gap-4
    w-44 h-screen absolute
    text-3xl bg-gray-300">
    <a class="font-bold mt-3" href="#">Actichat</a>
    <div class="m-1 bg-black w-3/4 h-px"></div>
    <a href="#">Home</a>
    <a href="#">Join</a>
    <a href="#">Create</a>
</div>

<main class="ml-44 h-full">
    <div class="h-max-content flex flex-col gap-6" id="chat">
    </div>
    
    <div class="flex justify-center gap-10 h-15">
        <input class="p-3 text-xl rounded w-auto" id="message" type="text">
        <button class="bg-gray-600 text-xl text-white p-3 rounded" id="send">Send</button>
    </div>
</main>

<script src="{{ url_for('static', filename='messages.js') }}"></script>

{% endblock content %}
